<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/assets/hero.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <div class="d-flex align-items-center">
          <a class="navbar-brand" href="/"
            ><img src="../images/CMlog.png" alt="logo" width="50px"
          /></a>
          <h4 class="text-light">The City Hospital</h4>
        </div>
        <div>
          <nav class="">
            <a class="number" href="./sp.html">Request an Appointment</a>
            <a class="apointment"> <%= menu.Name %> </a>
          </nav>
        </div>
      </div>
    </nav>
    <h3
      class="text-light ms-5 px-5 my-4"
      aria-label="Hi! Welcome to City Hospital"
    >
      Hi! Welcome to &nbsp;<span class="typewriter"></span>
    </h3>
    <!-- caorusel  -->
    <section>
      <div class="container">
        <div class="carousel">
          <input type="radio" name="slides" checked="checked" id="slide-1" />
          <input type="radio" name="slides" id="slide-2" />
          <input type="radio" name="slides" id="slide-3" />
          <input type="radio" name="slides" id="slide-4" />
          <input type="radio" name="slides" id="slide-5" />
          <input type="radio" name="slides" id="slide-6" />
          <ul class="carousel__slides">
            <li class="carousel__slide">
              <figure class="row">
                <div class="col-md-6">
                  <img
                    src="../images/heart.jpg"
                    style="width: 100%; height: 60vh"
                  />
                </div>
                <figcaption class="col-md-6">
                  Empowering hearts with advanced treatment and compassionate
                  care.Our Cardiology Department is dedicated to advanced heart
                  care, focusing on personalized treatment and prevention. With
                  a team of experienced cardiologists and cutting-edge
                  technology, we strive to keep every heartbeat strong and
                  healthy, providing care that patients can rely on for their
                  cardiac health
                  <span class="credit"><strong>Cardiology</strong></span>
                </figcaption>
              </figure>
            </li>
            <li class="carousel__slide">
              <figure class="row">
                <div class="col-md-6">
                  <img
                    src="../images/physic.jpg"
                    style="width: 100%; height: 60vh"
                  />
                </div>
                <figcaption class="col-md-6">
                  Empowering recovery through personalized physiotherapy.In our
                  Physiotherapy Department, we work to restore mobility, rebuild
                  strength, and enhance the quality of life for our patients.
                  Through customized therapy plans, we support individuals in
                  their journey to recovery, helping them regain independence
                  and move forward with confidence.
                  <span class="credit"><strong>Physiotherapy</strong></span>
                </figcaption>
              </figure>
            </li>
            <li class="carousel__slide">
              <figure class="row">
                <div class="col-md-6">
                  <img
                    src="../images/derma.jpg"
                    style="width: 100%; height: 60vh"
                  />
                </div>
                <figcaption class="col-md-6">
                  Caring for your skin, from the everyday to the
                  extraordinary.Our Dermatology Department offers comprehensive
                  care for all skin-related needs, from common skin issues to
                  complex conditions. Combining medical expertise with the
                  latest treatments, we are committed to helping patients
                  achieve healthy, radiant skin and feel confident in their
                  appearance
                  <span class="credit"><strong>Dermatology</strong></span>
                </figcaption>
              </figure>
            </li>
            <li class="carousel__slide">
              <figure class="row">
                <div class="col-md-6">
                  <img
                    src="../images/dentist.jpg"
                    style="width: 100%; height: 60vh"
                  />
                </div>
                <figcaption class="col-md-6">
                  Modern dentistry for healthy teeth and happy smiles.he
                  Dentistry Department at our hospital provides expert care for
                  a lifetime of healthy smiles. With a focus on both preventive
                  and restorative treatments, our skilled dental team offers a
                  comfortable and gentle approach to oral health, ensuring every
                  patient’s smile is in safe hands.
                  <span class="credit"><strong>Dentist</strong></span>
                </figcaption>
              </figure>
            </li>
            <li class="carousel__slide">
              <figure class="row">
                <div class="col-md-6">
                  <img
                    src="../images/neurology.jpg"
                    style="width: 100%; height: 60vh"
                  />
                </div>
                <figcaption class="col-md-6">
                  Dedicated to understanding and healing the brain and
                  nerves.Your neurological health is our commitment.Our
                  Neurology Department specializes in diagnosing and treating
                  conditions of the brain and nervous system with a
                  patient-centered approach. Our neurologists work with advanced
                  techniques and compassionate care, providing comprehensive
                  solutions to enhance neurological health and improve quality
                  of life.
                  <span class="credit"><strong>Neurology</strong></span>
                </figcaption>
              </figure>
            </li>
            <li class="carousel__slide">
              <figure class="row">
                <div class="col-md-6">
                  <img
                    src="../images/Pediatrics.jpg"
                    style="width: 100%; height: 60vh"
                  />
                </div>
                <figcaption class="col-md-6">
                  Growing healthy, happy children with expert pediatric
                  care,Your child’s health is our top priority.In the Pediatrics
                  Department, we are dedicated to the health and happiness of
                  children at every stage. Our pediatricians offer nurturing,
                  expert care, from infancy through adolescence, ensuring that
                  each young patient grows up with the best possible health and
                  support.
                  <span class="credit"><strong>Pediatrics</strong></span>
                </figcaption>
              </figure>
            </li>
          </ul>
          <ul class="carousel__thumbnails">
            <li>
              <label for="slide-1"
                ><img
                  src="../images/heart.jpg"
                  style="width: 100%; height: 12.5rem"
              /></label>
            </li>
            <li>
              <label for="slide-2"
                ><img
                  src="../images/physic.jpg"
                  style="width: 100%; height: 12.5rem"
              /></label>
            </li>
            <li>
              <label for="slide-3"
                ><img
                  src="../images/derma.jpg"
                  style="width: 100%; height: 12.5rem"
              /></label>
            </li>
            <li>
              <label for="slide-4"
                ><img
                  src="../images/dentist.jpg"
                  style="width: 100%; height: 12.5rem"
              /></label>
            </li>
            <li>
              <label for="slide-5"
                ><img
                  src="../images/neurology.jpg"
                  style="width: 100%; height: 12.5rem"
              /></label>
            </li>
            <li>
              <label for="slide-6"
                ><img
                  src="../images/Pediatrics.jpg"
                  style="width: 100%; height: 12.5rem"
              /></label>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <!-- caorusel  -->
    <main class="main-content">
      <div class="overlay"></div>
      <h2 class="main-heading">Your Health, Our Priority!</h2>
    </main>
    <div class="customers">
      <div class="customers-imgs">
        <img src="./images/customers/ben.jpg" alt="Customer photo" />
        <img src="./images/customers/customer-1.jpg" alt="Customer photo" />
        <img src="./images/customers/customer-2.jpg" alt="Customer photo" />
        <img src="./images/customers/customer-3.jpg" alt="Customer photo" />
        <img src="./images/customers/customer-4.jpg" alt="Customer photo" />
        <img src="./images/customers/customer-5.jpg" alt="Customer photo" />
        <img src="./images/customers/customer-6.jpg" alt="Customer photo" />
        <img src="./images/customers/steve.jpg" alt="Customer photo" />
        <img src="./images/customers/hannah.jpg" alt="Customer photo" />
        <img src="./images/customers/dave.jpg" alt="Customer photo" />
      </div>
      <p class="customers-text"><span>250,000+</span> trusted customers!</p>
    </div>
    <div class="departments-container row m-0">
      <div class="select-d p-5 col-lg-7">
        <h1 class="d-heaading">Providing wide range of healthcare solutions</h1>
        <p class="d-description">
          We provide a comprehensive range of healthcare solutions tailored to
          meet diverse needs, including preventative care, chronic disease
          management, and mental health support. Our integrated approach
          combines advanced technology with compassionate care, empowering
          individuals to achieve optimal health outcomes.
        </p>
        <div class="text-center">
          <button class="d-btn"><a href="/sp.html">DEPARTMENTS</a></button>
        </div>
      </div>
      <div class="col-lg-5 d-flex align-items-stretch p-0">
        <img src="./images/pic1.jpg" width="100%" />
      </div>
    </div>
    <section class="mt-4 py-2 row mx-0 w-100">
      <div class="col-sm-3 my-2 p-4">
        <div class="card" style="width: 100%">
          <img
            src="./images/surgery.jpg"
            style="width: 100%; height: 35vh"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h6><strong>General Surgery</strong></h6>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 my-2 p-4">
        <div class="card" style="width: 100%">
          <img
            src="./images/Pediatrics.jpg"
            style="width: 100%; height: 35vh"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h6><strong>Pediatrics</strong></h6>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 my-2 p-4">
        <div class="card" style="width: 100%">
          <img
            src="./images/heart.jpg"
            style="width: 100%; height: 35vh"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h6><strong>Cardiology</strong></h6>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 my-2 p-4">
        <div class="card" style="width: 100%">
          <img
            src="./images/pic4.jpg"
            style="width: 100%; height: 35vh"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h6><strong>Obstetrics and gynaecology</strong></h6>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="mt-4 py-2 row mx-0 w-100">
      <div class="col-sm-4 my-2 p-4">
        <div class="card" style="width: 100%">
          <img
            src="./images/ortho.jpg"
            style="width: 100%; height: 35vh"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h6><strong>General Surgery</strong></h6>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 my-2 p-4">
        <div class="card" style="width: 100%">
          <img
            src="./images/physic.jpg"
            style="width: 100%; height: 35vh"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h6><strong>Psychiatry</strong></h6>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 my-2 p-4">
        <div class="card" style="width: 100%">
          <img
            src="./images/radiology.jpg"
            style="width: 100%; height: 35vh"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h6><strong>Radiology</strong></h6>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="mt-4 py-2 row mx-0 w-100">
      <div class="col-md-3 my-2 p-4">
        <div class="card" style="width: 100%">
          <img
            src="./images/neurology.jpg"
            style="width: 100%; height: 35vh"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h6><strong>Neurology</strong></h6>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 my-2 p-4">
        <div class="card" style="width: 100%">
          <img
            src="./images/derma.jpg"
            style="width: 100%; height: 35vh"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h6><strong>Dermatology</strong></h6>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 my-2 p-4">
        <div class="card" style="width: 100%">
          <img
            src="./images/pharmacy.jpg"
            style="width: 100%; height: 35vh"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h6><strong>Pharmacy</strong></h6>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 my-2 p-4">
        <div class="card" style="width: 100%">
          <img
            src="./images/dentist.jpg"
            style="width: 100%; height: 35vh"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h6><strong>Dentist</strong></h6>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </section>

    <footer
      class="mt-5 text-center text-lg-start text-light"
      style="background-color: #1928217d"
    >
      <!-- Section: Social media -->
      <section
        class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
      >
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
          <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->

      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3"></i>City Hospital
              </h6>
              <p>
                Here you can use rows and columns to organize your footer
                content. Lorem ipsum dolor sit amet, consectetur adipisicing
                elit.
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Products</h6>
              <p>
                <a href="#!" class="text-reset">Angular</a>
              </p>
              <p>
                <a href="#!" class="text-reset">React</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Vue</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Laravel</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
              <p>
                <a href="#!" class="text-reset">Pricing</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Settings</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Orders</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Help</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
              <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
              <p>
                <i class="fas fa-envelope me-3"></i>
                info@example.com
              </p>
              <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
              <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->

      <!-- Copyright -->
      <div
        class="text-center p-4"
        style="background-color: rgba(0, 0, 0, 0.05)"
      >
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/"
          >CityHospital.com</a
        >
      </div>
      <!-- Copyright -->
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
